In [102]:
import pandas as pd
games= pd.read_csv('vgsales.csv')
print(games.shape)
games.describe()

(16598, 11)

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [103]:
#Cleaning data to remove all null values
df=games.dropna()
print(df.describe())

               Rank          Year      NA_Sales      EU_Sales      JP_Sales  \
count  16291.000000  16291.000000  16291.000000  16291.000000  16291.000000
mean    8290.190228   2006.405561      0.265647      0.147731      0.078833
std     4792.654450      5.832412      0.822432      0.509303      0.311879
min        1.000000   1980.000000      0.000000      0.000000      0.000000
25%     4132.500000   2003.000000      0.000000      0.000000      0.000000
50%     8292.000000   2007.000000      0.080000      0.020000      0.000000
75%    12439.500000   2010.000000      0.240000      0.110000      0.040000
max    16600.000000   2020.000000     41.490000     29.020000     10.220000

        Other_Sales  Global_Sales
count  16291.000000  16291.000000
mean       0.048426      0.540910
std        0.190083      1.567345
min        0.000000      0.010000
25%        0.000000      0.060000
50%        0.010000      0.170000
75%        0.040000      0.480000
max       10.570000     82.740000

In [111]:
import pandas as pd
df= pd.read_csv('music.csv')
df

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [105]:
import pandas as pd
df= pd.read_csv('music.csv')
X= df.drop(columns=['genre'])
y=df['genre']
y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

In [106]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier as dtc
print(df)
df= pd.read_csv('music.csv')
X= df.drop(columns=['genre'])
y=df['genre']
model =dtc()
model.fit(X,y)
prediction= model.predict([[36,1] , [24,0]])
prediction

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

array(['Classical', 'Dance'], dtype=object)

In [18]:
# Splitting data into two sets. 80 percent training and 20 percent test data
import pandas as pd
from sklearn.tree import DecisionTreeClassifier as dtc
# from --sklearn-- package ---model_selection-- module we are importing ---train_test_split--- function
from sklearn.model_selection import train_test_split
# To check accuracy of our module we use below import statement
from sklearn.metrics import accuracy_score


#train_test_split(X,y,test_size = 0.2) This function takes 3 arguments, X,y and test size would be 20 percent.
#This function returns a tuple with two values for X (trainX and test X) and two values for y (trainy and testy)
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size = 0.2)

#print (X_test)
model = dtc()
model.fit(X_train, y_train)
print((X_train))
print((X_test))
print('='*60)
prediction= model.predict(X_test)
#print(prediction)
score= accuracy_score(y_test,prediction)
score

    age  gender
4    29       1
16   34       0
7    33       1
9    20       0
8    37       1
0    20       1
12   26       0
6    31       1
5    30       1
2    25       1
15   31       0
13   27       0
3    26       1
1    23       1
    age  gender
11   25       0
17   35       0
14   30       0
10   21       0
============================================================

1.0

In [19]:
#Model Persistance : Training a model takes lot of time. So save a trained model and use it later.
import pandas as pd
from sklearn.tree import DecisionTreeClassifier as dtc
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import joblib # This joblib object used to save and loads models



X_train,X_test,y_train,y_test=train_test_split(X,y,test_size = 0.2)
model = dtc()
model.fit(X_train, y_train)
# dump/save the model now
joblib.dump(model, 'DTC_RecommenderSys_music.joblib')

['DTC_RecommenderSys_music.joblib']

In [20]:
#Model Persistance : Training a model takes lot of time. So save a trained model and use it later.
import pandas as pd
from sklearn.tree import DecisionTreeClassifier as dtc
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import joblib 

#once the modek is saved you dont need to train it again, just access the trained model from the file
model = joblib.load('DTC_RecommenderSys_music.joblib')
prediction= model.predict(X_test)
prediction

array(['Classical', 'Classical', 'HipHop', 'Acoustic'], dtype=object)

In [21]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier as dtc
from sklearn import tree
print(df)
df= pd.read_csv('music.csv')
X= df.drop(columns=['genre'])
y=df['genre']
model =dtc()
model.fit(X,y)
tree.export_graphviz(model,out_file='DTC_RecommenderSys_music.dot',feature_names=['age','gender'],class_names=sorted(y.unique()),label='all')
#To visit graphviz online use this http://dreampuf.github.io/GraphvizOnline/

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical